<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/normalize.css">
    <link rel="stylesheet" href="../public/skeleton.css">
    <title>Index</title>
</head>
<% budgets.forEach(budget=> {bankAccount += Number(budget.amount)}) %>
<% if(bankAccount < 0 ){ %>
    <style>
        body{
            background-color: red;
        }
    </style>
<% } %>
<% if(bankAccount > 0 ){ %>
    <style>
        body {
            background-color: green;
        }
    </style>
<% } %>

<body>
    <div class="container">
        <button onclick="window.location.href='/budgets/new'">New</button>
        <h1>Budgtr ALL</h1>
        <h2>bankAccount: <%= bankAccount %></h1>
        <table>
            <% for(let i = 0; i < budgets.length; i++) {%>
            <tr>
                <td><%= budgets[i].date %></td>
                <td><a href="/budgets/<%= i %>"><%= budgets[i].name %></a></td>
                <td><%= budgets[i].amount %></td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
</html>